<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIdentifierPrefix</key>
	<string>JWO2OMerchant</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ibdt.telegram</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>crycx.io</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uuexchange</string>
		<string>olowallet</string>
		<string>comgooglemaps</string>
		<string>qqmap</string>
		<string>iosamap</string>
		<string>iosjwwcq</string>
		<string>mqzoneopensdk</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqqopensdkapiV4</string>
		<string>mqzoneopensdkapi</string>
		<string>mqqwpa</string>
		<string>mqq</string>
		<string>mqzone</string>
		<string>wtloginmqq2</string>
		<string>mqqapi</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>baidumap</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>alipaysgare</string>
		<string>alipay</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>alipayauth</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>mqqwpa</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>1c4f4279c0300</string>
	<key>MOBAppSecret</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>请允许APP访问您的相机以帮助您拍摄并上传门头、环境照、身份证银行卡等照片</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>只有开启始终定位功能才能正常使用百度地图数据来在开店或修改资料时确定您的商铺位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>APP需要使用您的地理位置,来为您自动填充店铺信息以及在开店时确定您的店铺位置信息</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要使用您的麦克风以便客服及时通过APP联系您</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>请允许APP向相册写入照片以保存您的商户二维码</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请允许APP访问您的图库以让您选择相册中已有的门头、环境照、身份证银行卡等照片并上传</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
